@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: linear-gradient(-45deg,#f5f7fa, #c3cfe2);
}

/* Slide in animation */

@keyframes slide-in-left {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in-left {
  animation: slide-in-left 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation-fill-mode: forwards;
}

@keyframes slide-in-right {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in-right {
  animation: slide-in-right 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}