@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url(../public/taust.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}