JWT_SECRET=sala-voti-token-naidis
JWT_EXPIRES_IN=1h

PORT=3000

DB_HOST=localhost
DB_PORT=3308
DB_USER=movieuser
DB_PASSWORD=moviepass123
DB_NAME=moviedb


# Environnent Variables konteineri jaoks

MYSQL_ROOT_PASSWORD=movie_root_pass
MYSQL_DATABASE=moviedb
MYSQL_USER=movieuser
MYSQL_PASSWORD=moviepass123